.menu {
    width: 250px;
    transition: width 0.3s;
  }
  
  .menu.collapsed {
    width: 80px;
  }
  
  .ant-menu-item {
    display: flex;
    align-items: center;
  }
  
  .ant-menu-item .anticon {
    margin-right: 16px;
  }
  
  .menu.collapsed .ant-menu-item .anticon {
    margin-right: 0;
  }
  
  .menu.collapsed .ant-menu-item span {
    display: none;
  }
  